.curChecklist{

    background-color: white;
}



.studentBody{
    display: flex;
    flex-direction: column;
    margin: 28px;
}

.studentBody form{
    margin-left: auto;
    
}

.searchBar{
    border: none;
    margin: 5px;

    width: 250px;
    height: 30px;

    background-color: grey;
    border-radius: 20px;

    color: white;
    
}

.studentDetail{
    display: flex;
    padding: 50px;
    padding-top: 0px;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    background-color: rgb(244, 244, 244);
}

.studentDetail h3{
    display: flex;
    position: relative;
    justify-content: center;
    text-align: center;
    color: #1c4da1;
}

.buttons{
    display: flex;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    gap: 20px;
    position: absolute;
    color: #1c4da1;
    margin-left: auto;
}

.studentResidency{
    display: flex;
    flex-direction: row;
}

.studentDetail .lBlock{
    display: flex;
    flex-direction: column;
    width: 70%;
}

.lBlock span{
    margin: 5px;
}

.studentDetail .rBlock{
    display: flex;
    flex-direction: column;
    width: 30%;
}

.rBlock span{
    margin: 5px;
}

.yearSem{
    color: #1c4da1;
}



@media print {
  header,
  .studentBody .buttons,
  .studentSearchBarWrapper {
    display: none !important;
  }

  body {
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
  }

  table {
    width: 100%;
    border-collapse: collapse;
  }

  th, td {
    border: 2px solid #000;
    padding: 4px;
  }
}


