.curChecklist{

    background-color: white;
}

.curChecklist header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 1;
}


.logo{
    display: flex;
    align-items: center;
    font-size: 12px;
}

.signOut{
    border: none;
    border-style: solid;
    border-color: #1c4da1;
    border-width: 2px;
    border-radius: 20px;
    background-color: white;

    height: 30px;
    width: 100px;

    color: #1c4da1;
    font-weight: 300;

    cursor: pointer;
    transition: background-color 0.5s ease-in-out;

    margin: 30px;
}

.signOut:hover{
    background-color: #1c4da1;
    color: white;
}

.banner{
    display: flex;
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);

    width: 500px;
    height: 60px;

    justify-content: center;
    align-items: center;

    color: white;
    font-size: 49px;
    font-weight: 600;

    background-color: #1c4da1;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 1rem;
    z-index: 2;
}

.studentBody{
    display: flex;
    flex-direction: column;
    margin: 28px;
}

.studentBody form{
    margin-left: auto;
    
}

.searchBar{
    border: none;
    margin: 5px;

    width: 250px;
    height: 30px;

    background-color: grey;
    border-radius: 20px;

    color: white;
    
}

.studentDetail{
    display: flex;
    padding: 50px;
    padding-top: 0px;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    background-color: rgb(244, 244, 244);
}

.studentDetail h3{
    display: flex;
    position: relative;
    justify-content: center;
    text-align: center;
    color: #1c4da1;
}

.buttons{
    display: flex;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    gap: 20px;
    position: absolute;
    color: #1c4da1;
    margin-left: auto;
}

.studentResidency{
    display: flex;
    flex-direction: row;
}

.studentDetail .lBlock{
    display: flex;
    flex-direction: column;
    width: 70%;
}

.lBlock span{
    margin: 5px;
}

.studentDetail .rBlock{
    display: flex;
    flex-direction: column;
    width: 30%;
}

.rBlock span{
    margin: 5px;
}

.yearSem{
    color: #1c4da1;
}

table{
    border-collapse: collapse;
    margin: 0 auto;
    margin-bottom: 20px;
    width: 95%;

}

td{
    text-align: center;
    padding: 5px;
}

thead tr{
    border-bottom: 2px solid black;
}

tbody tr{
    border-bottom: 2px solid black;
    border-top: 2px solid black;
}

