header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    position: relative;
    z-index: 1;

    box-sizing: border-box;

    height: 90px;
    width: 100%;

    padding: 20px;
}
.logo{
    display: flex;
    align-items: center;
    font-size: 15px;
}

.logo b{
    margin-left: -10px;
}

.signOut{
    border: none;
    border-style: solid;
    border-color: #1c4da1;
    border-width: 2px;
    border-radius: 20px;
    background-color: white;

    height: 30px;
    width: 100px;

    color: #1c4da1;
    font-weight: 300;

    cursor: pointer;
    transition: background-color 0.5s ease-in-out;

}

.signOut:hover{
    background-color: #1c4da1;
    color: white;
}

.center{
    display: flex;
    position: absolute;
    top: 0px;
    left: 32%;
    transform: translate(-32%, calc(-55.5px * 3));
    transition: transform 0.5s ease-in-out;

}

.banner{
    display: flex;
    flex-direction: column;
    position: absolute;

    overflow: hidden;

    width: 500px;

    justify-content: center;
    align-items: center;

    color: white;
    font-size: 40px;
    font-weight: 600;

    background-color: #1c4da1;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 1rem;
    z-index: 2;

}

.banner a{
    cursor: pointer;
    margin: 10px;
}

.drop_icon{
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: #1c4da1;
    color: white;
    
    font-size: 30px;

    position: absolute;
    top: 230px;
    right: -303px;

    cursor: pointer;

    width: 5rem;

    padding-top: 5px;
}

.center.animated{
    transform: translate(-50%, 0%);
}
