header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    position: relative;
    z-index: 1;

    box-sizing: border-box;

    height: 90px;
    width: 100%;

    padding: 20px;
}
.logo{
    display: flex;
    align-items: center;
    font-size: 15px;
}

.logo b{
    margin-left: -10px;
}

.signOut{
    border: none;
    border-style: solid;
    border-color: #1c4da1;
    border-width: 2px;
    border-radius: 20px;
    background-color: white;

    height: 30px;
    width: 100px;

    color: #1c4da1;
    font-weight: 300;

    cursor: pointer;
    transition: background-color 0.5s ease-in-out;
}

.signOut:hover{
    background-color: #1c4da1;
    color: white;
}

.center{
    display: flex;
    position: absolute;
    top: 0px;
    left: 30%;
    transform: translate(-30%, calc(-80.5px * 2));
    transition: transform 0.5s ease-in-out;
}

.banner{
    display: flex;
    flex-direction: column;
    position: absolute;

    overflow: hidden;

    width: 500px;

    justify-content: center;
    align-items: center;

    color: white;
    font-size: 40px;
    font-weight: 600;

    background-color: #1c4da1;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 1rem;
    z-index: 2;
}

.banner a{
    cursor: pointer;
    margin: 10px;
}

.drop_icon{
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: #1c4da1;
    color: white;
    
    font-size: 30px;

    position: absolute;
    top: 230px;
    right: -303px;

    cursor: pointer;

    width: 5rem;

    padding-top: 5px;
}

.center.animated{
    transform: translate(-50%, 0%);
}

/* iPad (768px and up) */
@media (max-width: 1024px) {
    header {
        height: 80px;
        padding: 15px;
    }

    .logo {
        font-size: 13px;
    }

    .signOut {
        height: 28px;
        width: 90px;
        font-size: 14px;
    }

    .banner {
        width: 400px;
        font-size: 32px;
        padding: 0.8rem;
    }

    .banner a {
        margin: 8px;
    }

    .drop_icon {
        font-size: 25px;
        width: 4.5rem;
        top: 205px;
    }
}

/* Small tablets and large phones (481px - 768px) */
@media (max-width: 768px) and (min-width: 481px) {
    header {
        height: 70px;
        padding: 10px;
    }

    .logo {
        font-size: 12px;
    }

    .signOut {
        height: 26px;
        width: 85px;
        font-size: 12px;
    }

    .center {
        left: 35%;
    }

    .banner {
        width: 350px;
        font-size: 28px;
        padding: 0.7rem;
    }

    .banner a {
        margin: 6px;
        font-size: 24px;
    }

    .drop_icon {
        font-size: 22px;
        width: 4rem;
        top: 180px;
        right: -270px;
    }

    .center{
        display: flex;
        position: absolute;
        top: 0px;
        left: 25%;
        transform: translate(-25%, calc(-5vh * 2));
        transition: transform 0.5s ease-in-out;
    }

    .drop_icon{
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        background-color: #1c4da1;
        color: white;
        
        font-size: 30px;

        position: absolute;
        top: 145px;
        right: -223px;

        cursor: pointer;

        width: 5rem;

        padding-top: 5px;
    }
}

/* iPhone 12 Pro (390px) */
@media (max-width: 480px) {
    header {
        height: 60px;
        padding: 10px 5px;
    }

    .logo {
        font-size: 11px;
    }

    .logo b {
        margin-left: -5px;
    }

    .signOut {
        height: 24px;
        width: 75px;
        font-size: 11px;
        border-width: 1px;
    }

    .center {
        left: 40%;
    }

    .banner {
        width: 200px;
        font-size: 16px;
        padding: 0.5rem;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
    }

    .banner a {
        margin: 4px;
        font-size: 16px;
    }

    .center{
        display: flex;
        position: absolute;
        top: 0px;
        left: 22%;
        transform: translate(-22%, calc(-4vh * 2));
        transition: transform 0.5s ease-in-out;
    }

    .drop_icon{
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        background-color: #1c4da1;
        color: white;
        
        font-size: 15px;

        position: absolute;
        top: 95px;
        right: -125px;

        cursor: pointer;

        width: 2rem;

        padding-top: 5px;
    }
}
