.page.loginPage{
    margin: 0;
    padding: 0;
    background-color: #007BFF;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    width: 1100px; 
    height: 600px;
    
    text-align: center;
    padding: 0px;
}

.login header{
    display: flex;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    align-items: center;
    background-color: #1c4da1;
    color: white;
    font-weight: 900;
}

.login .loginBody{
    display: flex;
    flex: 1;
}

.login .block{
    display: flex;
    flex-direction: column;
    width: 50%;
    flex: 1;
    justify-content: center;
    align-items: center;
}

.login .leftBlock{
    background-color: #f7c305;
    border-bottom-left-radius: 8px;
}

.leftBlock form{
    display: flex;
    flex-direction: column;
}

.login .leftBlock h1{
    color: white;
    font-size: 60px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.login .logForm{
    border: none;
    border-radius: 15px;
    margin: 3px;
    box-shadow: 0 0 0;
    width: 400px;
    height: 30px;
    font-family: "Barlow Semi Condensed", sans-serif;
}

.login .logButton{
    border: none;
    border-style: solid;
    border-color: white;
    border-width: 2px;
    border-radius: 20px;
    background-color: #f7c305;

    height: 30px;
    width: 100px;

    color: white;
    font-weight: 300;

    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;

    cursor: pointer;
    transition: background-color 0.5s ease-in-out;
}

.login .logButton:hover{
    background-color: white;
    color: #f7c305;
}

.login .welcome{
    font-size: 50px;
    color: #f7c305;
    font-weight: bolder;
}

.perpetualite{
    font-size: 50px;
    color: rgb(150, 150, 150);
    font-weight: 900;
}

/* iPad (768px and up) */
@media (max-width: 1024px) {
    form{
        width: 100%;
    }
    .login {
        width: 90%;
        height: auto;
        min-height: 600px;
    }

    .login .logForm {
        width: 80%;
        max-width: 700px;
        margin-left: auto;
        margin-right: auto;
    }

    .login .leftBlock h1 {
        font-size: 45px;
    }

    .login .welcome {
        font-size: 35px;
    }

    .perpetualite {
        font-size: 35px;
    }
}

/* iPhone 12 Pro (390px) */
@media (max-width: 480px) {
    .login {
        width: 95%;
        height: auto;
        min-height: 500px;
        border-radius: 0;
    }

    .login header {
        border-radius: 0;
    }

    .login .loginBody {
        flex-direction: column;
    }

    .login .block {
        width: 100%;
    }

    .login .leftBlock {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 8px;
    }

    .login .logForm {
        width: 85%;
        max-width: 280px;
        height: 40px;
        font-size: 14px;
    }

    .login .leftBlock h1 {
        font-size: 35px;
        margin-bottom: 10px;
    }

    .login .logButton {
        height: 35px;
        width: 90px;
        margin-top: 30px;
        font-size: 12px;
    }

    .login .welcome {
        font-size: 24px;
        margin: 20px 0;
    }

    .perpetualite {
        font-size: 24px;
    }

    .leftBlock form {
        padding: 20px;
    }
}

/* Small tablets and large phones (481px - 768px) */
@media (max-width: 768px) and (min-width: 481px) {
    .login {
        width: 90%;
        height: auto;
        min-height: 550px;
    }

    .login .logForm {
        width: 85%;
        max-width: 300px;
    }

    .login .leftBlock h1 {
        font-size: 40px;
    }

    .login .welcome {
        font-size: 30px;
    }

    .perpetualite {
        font-size: 30px;
    }
}

