.searchContainer {
    position: relative;
    display: flex;
    width: 100%;
}

.searchBar{
    border: none;
    margin: 5px;
    margin-left: auto;

    width: 250px;
    height: 30px;

    background-color: grey;
    border-radius: 20px;

    padding-left: 10px;

    color: white;
    
}

.dropdown {
    position: absolute;
    top: 100%;
    left: 100;
    right: 0;
    width: 250px;
    background-color: white;
    border: 1px solid #ccc;
    z-index: 10;
    list-style: none;
    padding: 0;
    margin: 0;
    max-height: 200px;
    overflow-y: auto;
    border-radius: 0 0 4px 4px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.dropdownItem {
    padding: 8px 12px;
    cursor: pointer;
    border-bottom: 1px solid #eee;
    transition: background 0.2s;
}

.dropdownItem:hover {
    background-color: #f0f0f0;
}
